html,body,h1,h3,p{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	width: 100%;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
h1,h3{
	font-weight: normal;
}
a{
	text-decoration: none;
	color: #292929;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}

.pagesize{
	width: 1200px;
	margin: 0 auto;
}
.header{
	width: 1200px;
	padding: 28px 0;
	margin: 0 auto;
}
.header .phone{
	font-size: 0;
	line-height: 18px;
	height: 18px;
}
.header .phone>div{
	display: inline-block;
	font-size: 12px;
}
.header .phone .share{
	margin-left: 36px;
}
.header .phone .number{
	padding-left: 22px;
	background: url(../images/phone.jpg) no-repeat 0 center;
}

.nav{
	height: 64px;	
	line-height: 64px;
	font-size: 18px;
	border-bottom: 2px solid #5c5c5d;
}
.nav .nav-list{
	width: 1200px;
	margin: 0 auto;
}
.active{
	color: #c51230;
}
.nav .list{
	float: left;
	position: relative;
	padding: 0 24px;
}
.nav .sub-nav{
	display: none;
	position: absolute;
	width: 100%;
	padding: 8px 0;
	left: 0;
	top: 64px;
	z-index: 99;
	text-align: center;
	font-size: 14px;
	background: #6d6d6e;
	transition: all 1s;
}
.sub-nav li{
	line-height: 36px;
	border-bottom: 1px dashed #8b8a8b;
}
.sub-nav li:nth-last-of-type(1){
	border: none;
}
.sub-nav li a{
	color: #ddd;
}

body{
	position: relative;
	width: 100%;
}
.banner {
  width: 100%;
  height: 100%;
}
.banner-list{
	position: relative;
	height: 700px;
	width: 100%;
	overflow: hidden;
}
.banner-list img{
	position: absolute;
	height: 700px;
	top: 0;
	left: 50%;
	margin-left: -960px;
}
.banner .swiper-pagination-bullet-active{
	background: #fff;
}
.banner .swiper-pagination-bullet{
	background: #616161;
}

.notice{
	margin-top: 68px;
}
.side-title{
	text-align: center;
	margin-bottom: 40px;
}
.side-title .chinese{
	line-height: 40px;
	font-size: 30px;
}
.side-title .english{
	height: 20px;
	font-size: 0;
}
.side-title .english span{
	display: inline-block;
	vertical-align: top;
}
.side-title .english .line{
	margin-top: 10px;
	height: 1px;
	width: 90px;
	background: #dedede;
}
.side-title .english .text{
	line-height: 20px;
	margin: 0 13px;
	font-family: arial;
	font-size: 12px;
	color: #999;
}
.notice-list{
	float: left;
	width: 360px;
	height: 80px;
	margin: 0 58px 32px 0;
	padding-bottom: 32px;
}
.notice-list:nth-of-type(3n){
	margin-right: 0;
}
.notice-list:nth-of-type(1),.notice-list:nth-of-type(2),.notice-list:nth-of-type(3){
	border-bottom: 1px solid #ebebeb;
}
.notice-list .serial{
	float: left;
	width: 78px;
	height: 80px;
	text-align: center;
	background: #f2f2f2;
	color: #999;
}
.notice-list .number{
	line-height: 58px;
	font-size: 30px;
}
.notice-list .time{
	line-height: 13px;
	font-size: 12px;
}
.notice-list .text{
	width: 270px;
	float: right;
	color: #000;
}
.notice-list .text .name{
	height: 20px;
	line-height: 20px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-size: 16px;
	margin-bottom: 10px;
}
.notice-list .text .detail{
	line-height: 24px;
	font-size: 14px;
	height: 48px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.notice .more{
	width: 218px;
	height: 54px;
	border: 1px solid #dedede;
	line-height: 56px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 80px;
}
.notice .more a{
	display: block;
	color: #575757;
	letter-spacing: 4px;
}
