html,body,h1,h3,p{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	width: 100%;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
h1,h3{
	font-weight: normal;
}
a{
	text-decoration: none;
	color: #292929;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	content: '';
	display: block;
	height: 0;
	clear: both;
}

.pagesize{
	width: 1200px;
	margin: 0 auto;
}
.header{
	width: 1200px;
	padding: 28px 0;
	margin: 0 auto;
}
.header .phone{
	font-size: 0;
	line-height: 18px;
	height: 18px;
}
.header .phone>div{
	display: inline-block;
	font-size: 12px;
}
.header .phone .share{
	margin-left: 36px;
}
.header .phone .number{
	padding-left: 22px;
	background: url(../images/phone.jpg) no-repeat 0 center;
}

.nav{
	height: 64px;	
	line-height: 64px;
	font-size: 18px;
	border-bottom: 2px solid #5c5c5d;
}
.nav .nav-list{
	width: 1200px;
	margin: 0 auto;
}
.active{
	color: #c51230;
}
.nav .list{
	float: left;
	position: relative;
	padding: 0 24px;
}
.nav .sub-nav{
	display: none;
	position: absolute;
	width: 100%;
	padding: 8px 0;
	left: 0;
	top: 64px;
	z-index: 99;
	text-align: center;
	font-size: 14px;
	background: #6d6d6e;
	transition: all 1s;
}
.sub-nav li{
	line-height: 36px;
	border-bottom: 1px dashed #8b8a8b;
}
.sub-nav li:nth-last-of-type(1){
	border: none;
}
.sub-nav li a{
	color: #ddd;
}

body{
	position: relative;
	width: 100%;
}
.banner {
  width: 100%;
  height: 100%;
}
.banner-list{
	position: relative;
	height: 700px;
	width: 100%;
	overflow: hidden;
}
.banner-list img{
	position: absolute;
	height: 700px;
	top: 0;
	left: 50%;
	margin-left: -960px;
}
.banner .swiper-pagination-bullet-active{
	background: #fff;
}
.banner .swiper-pagination-bullet{
	background: #616161;
}

.notice{
	margin-top: 68px;
}
.side-title{
	text-align: center;
	margin-bottom: 40px;
}
.side-title .chinese{
	line-height: 40px;
	font-size: 30px;
}
.side-title .english{
	height: 20px;
	font-size: 0;
}
.side-title .english span{
	display: inline-block;
	vertical-align: top;
}
.side-title .english .line{
	margin-top: 10px;
	height: 1px;
	width: 90px;
	background: #dedede;
}
.side-title .english .text{
	line-height: 20px;
	margin: 0 13px;
	font-family: arial;
	font-size: 12px;
	color: #999;
}
.notice-list{
	float: left;
	width: 360px;
	height: 80px;
	margin: 0 58px 32px 0;
}
.notice-list:nth-of-type(3n){
	margin-right: 0;
}
.notice-list:nth-of-type(1),.notice-list:nth-of-type(2),.notice-list:nth-of-type(3){
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 32px;
}
.notice-list .serial{
	float: left;
	width: 78px;
	height: 80px;
	text-align: center;
	background: #f2f2f2;
	color: #999;
}
.notice-list .number{
	line-height: 58px;
	font-size: 30px;
}
.notice-list .time{
	line-height: 13px;
	font-size: 12px;
}
.notice-list .text{
	width: 270px;
	float: right;
	color: #000;
}
.notice-list .text .name{
	height: 20px;
	line-height: 20px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	font-size: 16px;
	margin-bottom: 10px;
}
.notice-list .text .detail{
	line-height: 24px;
	font-size: 14px;
	height: 48px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.notice .more{
	width: 218px;
	height: 54px;
	border: 1px solid #dedede;
	line-height: 56px;
	text-align: center;
	margin: 48px auto 80px auto;
}
.notice .more a{
	display: block;
	color: #575757;
	letter-spacing: 4px;
}

.news{
	padding: 77px 0 88px 0;
	background: #f4f4f4;
}
.news-swiper{
  width: 1312px;
  margin: 0 auto;
}
.news-swiper .swiper-wrapper{
	width: 1200px;
	margin: 0 auto;
}
.news-swiper .wrap{
	width: 100%;
	overflow: hidden;
}
.news-swiper .news-list{
	float: left;
	width: 386px;
	padding-bottom: 14px;
	background: #fff;
	text-align: left;
	margin: 9px;
}
.news-swiper .news-list:hover{
	box-shadow:8px 0 12px rgba(0,0,0,0.3);;
}
.news-list .title{
	width: 100%;
	line-height: 40px;
	margin-top: 10px;
	padding: 0 22px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 18px;
	font-weight: bold;
}
.news-list .detail{
	width: 100%;
	line-height: 24px;
	max-height: 48px;
	padding: 0 22px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 12px;
	color: #666;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	background:#cacaca  url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	background:#cacaca  url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") ;
}

.reward{
	margin: 100px auto;
}
.reward-list{
	float: left;
	width: 288px;
	text-align: center;
	margin-right: 14px;
	margin-bottom: 15px;
}
.reward-list:nth-of-type(4n){
	margin-right: 0;
}
.reward-list img{
	width: 288px;
	height: 224px;
}
.reward-list .desc{
	line-height: 36px;
	font-size: 14px;
}
.star{
	padding: 86px 0 116px 0;
	background: #f4f4f4;
}
.star-wrap{
	width: 1200px;
	margin: 0 auto;
}
.star-list{
	float: left;
	width: 230px;
	margin-right: 10px;
	background: #fff;
}
.star-list:nth-last-of-type(1){
	margin-right: none;
}
.star-list .pic{
	position: relative;
	width: 100%;
	height: 292px;
}
.star-list .pic img{
	width: 100%;
	height: 292px;
}
.star-list .pic .name{
	position: absolute;
	width: 100%;
	height: 36px;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 36px;
	background: rgba(0,0,0,.5);
	color: #fff;
}
.star-list .detail{
	padding: 8px 16px 20px;
}
.star-list .title{
	line-height: 38px;
	width: 100%;
	font-size: 16px;
	color: #000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}
.star-list .desc{
	line-height: 26px;
	height: 52px;
	overflow: hidden;
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 14px;
	color: #666;
}

.excllent{
	padding: 90px 0;
}
.excllent-swiper{
  width: 1312px;
  margin: 0 auto;
}
.excllent-swiper .swiper-wrapper{
	width: 1230px;
	margin: 0 auto;
}
.excllent-list{
	float: left;
	margin: 8px 8px;
}
.excllent-list img{
	width: 138px;
	height: 84px;
}
.excllent-list .title{
	text-align: center;
	line-height: 24px;
	color: #666;
}

.reviews{
	padding-top: 88px;
	padding-bottom: 50px;
	background: #f4f4f4;
}
.reviews-swiper {
      width: 1200px;
      padding-bottom: 50px;
}
 .reviews-swiper .swiper-slide {
	  background-position: center;
	  background-size: cover;
	  width: 790px;
	  height: 500px;

}
.reviews-swiper .swiper-slide img{
 	width: 100%;
 	height: 100%;
 }
.reviews-swiper .swiper-slide .name{
	text-align: center;
	font-size: 12px;
	color: #666;
}
